/* Change font for the entire vscode. Thi needs the
    Custom CSS and JS loader extension (be5invis.vscode-custom-css).
*/

* {
  font-family: 'Iosevka Nerd Font Mono', sans-serif !important;
}

.monaco-workbench .part.titlebar > .titlebar-container > .titlebar-left > .window-appicon:not(.codicon) {
  background-image: none !important;
}

.monaco-workbench .part.titlebar > .titlebar-container > .titlebar-right .window-controls-container {
  display: none !important;
}